doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet', type='text/css', href='stylesheets/css.css')
    title iCart HTML Version
  body
    .menu
      ul
        li(style='width:0px;')
          a
        li
          a.home(href='index.html') Home
        li
          a.wishlist(href='wishlist.html') Wish List (0)
        li
          a.account(href='account.html') My Account
        li.active
          a.cart(href='cart.html') Shopping Cart
        li
          a.checkout Checkout
        li(style='float:right;')
          a.login(href='login.html') Login
        li(style='float:right;')
          a.register Register
    div(style='width:1000px;margin:0 auto;')
      #cart
        .heading
          a(style='padding:8px;margin-left:-14px;') Shopping Cart
          span(style='font-size:14px;color:#fff;') »
          a
            span#cart_total 0 item(s) - $0.00
        .content
      #search
        .button-search
        input(type='text', name='filter_name', value='Search', onkeydown="this.style.color = '#888';")
    .header
      .logo_img
        a(href='index.html')
          img(alt='Site Name', src='images/logo.png')
    #menu
      ul
        li
          a(href='categories.html') Desktops
          div
            ul
              li
                a(href='default.htm') PC (0)
              li
                a(href='default.htm') Mac (1)
        li
          a(href='categories.html') Laptops & Notebooks
          div
            ul
              li
                a(href='default.htm') Macs (0)
              li
                a(href='default.htm') Windows (0)
        li
          a(href='categories.html') Components
          div
            ul
              li
                a(href='default.htm') Mice and Trackballs (0)
              li
                a(href='default.htm') Monitors (2)
              li
                a(href='default.htm') Printers (0)
              li
                a(href='default.htm') Scanners (0)
              li
                a(href='default.htm') Web Cameras (0)
        li
          a(href='categories.html') Software
        li
          a(href='categories.html') Phones & PDAs
        li
          a(href='categories.html') Cameras
    div(style='width:1000px;margin: 0 auto;margin-top:10px;')
      .linktree
        a(href='#') Home
        |          » 
        a(href='#') Shopping Cart
      h1(style='margin-top:-10px;') Shopping Cart (20.00kg)
      br
      form#basket(action='#', method='post')
        .cart-info
          table
            thead
              tr
                td.remove Remove
                td.image Image
                td.name Product Name
                td.model Model
                td.quantity Quantity
                td.price Unit Price
                td.total Total
            tbody
              tr
                td.remove
                  input(type='checkbox', name='remove[]', value='41')
                td.image
                  a(href='#')
                    img(src='images/imac_1-80x80.jpg', alt='iMac', title='iMac')
                td.name
                  a(href='#') iMac
                  div
                td.model Product 14
                td.quantity
                  input(type='text', name='quantity[41]', value='2', size='3')
                td.price $100.00
                td.total $200.00
              tr
                td.remove
                  input(type='checkbox', name='remove[]', value='40')
                td.image
                  a(href='#')
                    img(src='images/20070919010738-99-80x80.jpg', alt='iPhone', title='iPhone')
                td.name
                  a(href='#') iPhone
                  div
                td.model product 11
                td.quantity
                  input(type='text', name='quantity[40]', value='1', size='3')
                td.price $101.00
                td.total $101.00
              tr
                td.remove
                  input(type='checkbox', name='remove[]', value='36')
                td.image
                  a(href='#')
                    img(src='images/ipod_nano_1-80x80.jpg', alt='iPod Nano', title='iPod Nano')
                td.name
                  a(href='#') iPod Nano
                  div
                td.model Product 9
                td.quantity
                  input(type='text', name='quantity[36]', value='1', size='3')
                td.price $100.00
                td.total $100.00
      .buttons
        .left
          a.button
            span Update
        .right
          a.button(href='#')
            span Checkout
        .center
          a.button(href='#', style='width:120px;')
            span Continue Shopping
    br
    br
    br
    br
    br
    br
    br
    br
    .icart-footer
      .icart-footer-top
        div(style='width:1000px; margin:0 auto;')
      .icart-footer-container
        .column_footer(style='width:350px;')
          h3 About Us
          |     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel ante felis, aliquet sagittis lacus. Etiam in purus vitae tortor lacinia pretium. Maecenas quam diam, porttitor bibendum lacinia a, feugiat sit amet felis. Praesent ut mi justo, a volutpat ligula. Praesent sodales felis sed odio consectetur eget cursus metus mollis. Proin sollicitudin accumsan lectus a ornare... .
        .column_footer
          h3 Customer Service
          ul
            li
              a(href='#') About Us
            li
              a(href='#') Delivery Information
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Terms & Conditions
            li
              a(href='#') Contact Us
            li
              a(href='#') Returns
            li
              a(href='#') Site Map
        .column_footer(style='width:150px;')
          h3 Extras
          ul
            li
              a(href='#') Brands
            li
              a(href='#') Gift Vouchers
            li
              a(href='#') Affiliates
            li
              a(href='#') Specials
        .column_footer(style='width:150px;')
          h3 My Account
          ul
            li
              a(href='#') My Account
            li
              a(href='#') Order History
            li
              a(href='#') Wish List
            li
              a(href='#') Newsletter
        .column_footer(style='margin-right:0px;')
          h3 Social
          ul.social
            li.twitter
              a(href='../../twitter.com/twitter') Twitter Username
            li.facebook
              a(href='../../facebook.com/Username/default.htm') Facebook
            li.rss
              a(href='#') RSS Feed
        .clearfix
      .icart-footer-bottom
        div(style='width:1000px; margin:0 auto;')
          .icart-logo-footer
            a(href='index.php')
              img(src='images/logo-footer.png', alt='Footer Logo')
          ul
            li(style='float:right;padding-top:10px;list-style:none;')
              | © Copyright © 2013.Company name All rights reserved.
              a(target='_blank', href='http://www.cssmoban.com/') 网页模板
              |  -  More Templates 
              a(href='http://www.cssmoban.com/', target='_blank', title='Ä£°åÖ®¼Ò') Ä£°åÖ®¼Ò
          .clearfix

