doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet', type='text/css', href='stylesheets/css.css')
    script(src='javascripts/product-function.js')
    title iCart HTML Version
  body
    .menu
      ul
        li(style='width:0px;')
          a
        li
          a.home(href='index.html') Home
        li
          a.wishlist(href='wishlist.html') Wish List (0)
        li
          a.account(href='account.html') My Account
        li
          a.cart(href='cat.html') Shopping Cart
        li
          a.checkout Checkout
        li(style='float:right;')
          a.login(href='login.html') Login
        li(style='float:right;')
          a.register Register
    div(style='width:1000px;margin:0 auto;')
      #cart
        .heading
          a(style='padding:8px;margin-left:-14px;') Shopping Cart
          span(style='font-size:14px;color:#fff;') »
          a
            span#cart_total 0 item(s) - $0.00
        .content
      #search
        .button-search
        input(type='text', name='filter_name', value='Search', onkeydown="this.style.color = '#888';")
    .header
      .logo_img
        a(href='index.html')
          img(alt='Site Name', src='images/logo.png')
    #menu
      ul
        li
          a(href='categories') Desktops
          div
            ul
              li
                a(href='product') #{title} (0)
              li
                a(href='default.htm') Mac (1)
        li
          a(href='categories') Laptops & Notebooks
          div
            ul
              li
                a(href='default.htm') Macs (0)
              li
                a(href='default.htm') Windows (0)
        li
          a(href='categories.html') Components
          div
            ul
              li
                a(href='default.htm') Mice and Trackballs (0)
              li
                a(href='default.htm') Monitors (2)
              li
                a(href='default.htm') Printers (0)
              li
                a(href='default.htm') Scanners (0)
              li
                a(href='default.htm') Web Cameras (0)
        li
          a(href='categories.html') Software
        li
          a(href='categories.html') Phones & PDAs
        li
          a(href='categories.html') Cameras
    div(style='width:1000px;margin: 0 auto;margin-top:10px;')
      .linktree
        a(href='#') Home
        |          » 
        a(href='#') iMac
      h1(style='margin-top:-10px;') iMac
    #container_bg
      style(type='text/css').
        .linktree {
        margin-top:0px;
        margin-bottom:10px;
        margin-left:3px;
        }
        .linktree a {
        color:#666;
        text-decoration:none;
        font-size:11px;
        }
        #menu {
        border-radius:5px;
        }
      #column-left
        .box
          .box-heading_left Categories
          .box-content(style='background:none;border:none;')
            .box-category
              ul
                each entrie in entries
                  li 
                    a(href='#') #{entrie.title}
      #content
        .block-white
          .block-content
          .separator
          .block-content
            .product-info
              .left
                .image
                  a(href='#', title='iMac')
                    img#image(src='images/imac_1-228x228.jpg', title='iMac', alt='iMac')
                .image-additional
                  a(href='#', title='iMac')
                    img(src='images/imac_3-74x74.jpg', title='iMac', alt='iMac')
                  a(href='#', title='iMac')
                    img(src='images/imac_2-74x74.jpg', title='iMac', alt='iMac')
              .right
                #tabs.tabs
                  a.selected(href='#tab-information')
                    img(alt='Information', src='images/Info.png', style='margin-top:6px;')
                    div
                  a(href='#tab-description') Description
                  a(href='#tab-review') Reviews (0)
                  a(href='#tab-related') Related Products (1)
                #tab-information.tab-content
                  #information
                  .description
                    span » Brand:
                    a(href='#') Apple
                    br
                    span » Product Code:
                    |  Product 14
                    br
                    span » Reward Points:
                    |  0
                    br
                    span » Availability:
                    |  In Stock
                  .price
                    span.price-new $119.50
                    .price-tax Ex Tax: $100.00
                  br
                  .cart
                    div
                      | Qty:
                      input.quantity(type='text', name='quantity', size='2', value='1')
                      input(type='hidden', name='product_id', value='41')
                      a#button-cart.button(onclick='myFunction()')
                        span
                          p#demo Add to Cart
                    div
                      span    - OR -   
                    div
                      a.wishlist
                        img(src='images/wishlist.png', style='margin-top:6px;', title='Add to Wish List')
                      a.compare
                        img(src='images/compare.png', style='margin-top:6px;', title='Add to Compare')
                  .review
                    div
                      img(src='images/stars.png', alt='0 reviews')
                      a(onclick="$('a[href=\'#tab-review\']').trigger('click');#tab-review\']').trigger('click');") 0 reviews
                      |   
                      a(onclick="$('a[href=\'#tab-review\']').trigger('click');#tab-review\']').trigger('click');") Write a review
                  div
                    | Just when you thought iMac had everything, now there is even more. More powerful Intel Core 2 Duo processors. And more memory standard. Combine this with Mac OS X Leopard and iLife 2008, and it is more all-in-one than ever. iMac packs amazing performance into a stunningly slim space.
                .price
    br
    br
    br
    br
    br
    br
    br
    br
    .icart-footer
      .icart-footer-top
        div(style='width:1000px; margin:0 auto;')
      .icart-footer-container
        .column_footer(style='width:350px;')
          h3 About Us
          | 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel ante felis, aliquet sagittis lacus. Etiam in purus vitae tortor lacinia pretium. Maecenas quam diam, porttitor bibendum lacinia a, feugiat sit amet felis. Praesent ut mi justo, a volutpat ligula. Praesent sodales felis sed odio consectetur eget cursus metus mollis. Proin sollicitudin accumsan lectus a ornare... .
        .column_footer
          h3 Customer Service
          ul
            li
              a(href='#') About Us
            li
              a(href='#') Delivery Information
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Terms & Conditions
            li
              a(href='#') Contact Us
            li
              a(href='#') Returns
            li
              a(href='#') Site Map
        .column_footer(style='width:150px;')
          h3 Extras
          ul
            li
              a(href='#') Brands
            li
              a(href='#') Gift Vouchers
            li
              a(href='#') Affiliates
            li
              a(href='#') Specials
        .column_footer(style='width:150px;')
          h3 My Account
          ul
            li
              a(href='#') My Account
            li
              a(href='#') Order History
            li
              a(href='#') Wish List
            li
              a(href='#') Newsletter
        .column_footer(style='margin-right:0px;')
          h3 Social
          ul.social
            li.twitter
              a(href='../../twitter.com/twitter') Twitter Username
            li.facebook
              a(href='../../facebook.com/Username/default.htm') Facebook
            li.rss
              a(href='#') RSS Feed
        .clearfix
      .icart-footer-bottom
        div(style='width:1000px; margin:0 auto;')
          .icart-logo-footer
            a(href='index.php')
              img(src='images/logo-footer.png', alt='Footer Logo')
          ul
            li(style='float:right;padding-top:10px;list-style:none;')
              | © Copyright © 2013.Company name All rights reserved.
              a(target='_blank', href='http://www.cssmoban.com/') 网页模板
              |  -  More Templates 
              a(href='http://www.cssmoban.com/', target='_blank', title='Ä£°åÖ®¼Ò') Ä£°åÖ®¼Ò
          .clearfix

