<!-- views/partials/categorylist.ejs -->
<!-- categorylist
 ================================================== -->
<div class="list-group">
    <a href="/categories" class="list-group-item active">
        View All
    </a>
    <a href="/categories/1" class="list-group-item">Action</a>
    <a href="/categories/2" class="list-group-item">Animation</a>
    <a href="/categories/3" class="list-group-item">Drama</a>
    <a href="/categories/4" class="list-group-item">Family</a>
    <a href="/categories/5" class="list-group-item">Romance</a>
</div><!-- /.categorylist -->

