<!-- views/partials/categorylist.ejs -->
<!-- categorylist
 ================================================== -->
<ul class="nav nav-sidebar">
    <li><a href="/categories">
   		View All
    </a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/categories/1">Action</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li style="background-color:#286090;"><a href="/categories/2" style="color:white;text-decoration:none;">Animation</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/categories/3">Drama</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/categories/4">Family</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/categories/5">Romance</a></li>
</ul><!-- /.categorylist -->