<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<% include ../partials/nav.ejs %>
		<div class="container">
			<div class="row">
				<div class="jumbotron col-lg-8 col-lg-offset-2">
					<table class="table table-bordered">
				    <thead style="text-align: center;">
				      <tr class="warning" >
				      	<th class="col-lg-7"><span style="color: black">Title</span></th>
				        <th class="col-lg-3"><span style="color: black">Price</span></th>
				        <th class="col-lg-2"><span style="color: black">Remove</span></th>
				      </tr>
				    </thead>
				    <% if(typeof(data) != 'undefined') { %>
					    <tbody>
					    <% for(var i = 0; i < data.length; i++) { %>
					      <tr class="text-center">
					        <td><%= data[i].title %></td>
					        <td><%= data[i].price %></td>
					        <td><button mid="<%= data[i].id %>" class="btn btn-xs btn-danger">Remove</button></td>
					      </tr> 
					    <% } %>
					    <tr style="text-align: center;">
							<td colspan="2">Total</td>
							<td id="total" ></td>
						</tr>
					    </tbody>
				    <% } %>
					</table>
					<% if(typeof data == 'undefined') { %>
						<div>
							<button type="button" class="btn btn-success pull-right" disabled>Check Out</button>
						</div>
					<% } else { %>
					<div>
						<button id="btnCheckOut" class="btn btn-success pull-right">Check Out</button>
					</div>
					<% } %>
				</div>

			</div>

		</div>
	</body>
<% include ../partials/footer.ejs %>
</html>
<script type="text/javascript">
;jQuery(function($){
  $('.btn-danger').on('click', function () {
  	var data = {
  		id : $(this).attr('mid')
  	}
  	$.post('/removeItem', data, function (ret) {
  		if (ret.result) {
  			window.location.reload();
  		} else {
  			alert("can't remove");
  		}
  	});
  });
  var $total = 0.0;
  //selector一定要加tr才能正确计算
  $('tr.text-center').each(function () {
		
  	var $price = $(this).find("td").eq(1);;
		
  	var sum = parseFloat($price.text());
  	
  	$total += sum;
  	console.log($total)
  });
  $("#total").text($total);

  $('#btnCheckOut').on('click', function () {
  	//TODO: check out
  	//alert('check')
  	var data = {
  		total : $total
  	}

  	console.log($total);
  	$.post('/checkout', data, function (ret) {
  		if (ret.result) {
  			alert('order created, order id is: ' + ret.msg._id);
  			window.location.href = '/order'
  		} else {
  			alert('fail to create order');
  		}
  	})
  })
});
</script>