
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>

<body>
<header>
    <% include ../partials/nav.ejs %>
</header>
<div class="container-fluid">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-md-12">
          <div id="err_msg_block" class="alert alert-danger hidden" role="alert">
            <button id="err_msg_close" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p id="err_msg"></p>
          </div>
        </div>
        <div class="col-md-2 sidebar" style="padding-left:0px;padding-right:0px;height:870px;background-color:#000;">
            <% if (typeof cat == 'undefined') { %>
                <% include ../partials/categorylist %>
            <% } else { %>
            <% if (cat == 1) { %>
                <% include ../partials/categorylist1 %>
            <% } else if(cat == 2) { %>
                <% include ../partials/categorylist2 %>
            <% } else if(cat == 3) { %>
                <% include ../partials/categorylist3 %>
            <% } else if(cat == 4) { %>  
                <% include ../partials/categorylist4 %>
            <% } else if(cat == 5) { %>     
                <% include ../partials/categorylist5 %>
            <% } %>
            <% } %>
        </div>
        <div class="col-md-10">
            <% include ../partials/productlist %>
        </div>
    </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>

<script type="text/javascript">
    AddtoCart = function(movieId) {
        var data = {
            'movieId' : movieId.id
        };
        var uid = $('#userId').attr('uid');
        $('#err_msg_close').click(function(){
            $('#err_msg_block').addClass('hidden');
        });
        if (uid === undefined) {
            window.location.href = '/login';
        } else {
            $.post('/addToCart', data, function(ret){
                num = (parseInt($("#NumOfItems").text())+1);
                $('#NumOfItems').text(num );
                if(ret.result == true) {
                    $('#err_msg').empty().append("movie added!").parents('#err_msg_block').attr('class', 'alert alert-success');
                } else {
                    $('#err_msg').empty().append(ret.msg).parents('#err_msg_block').attr('class', 'alert alert-danger');
                }
            });
        }
    }
</script>