<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body style="background-color:#000;">
	<% include ../partials/nav.ejs %>

	<div class="container" style="height:800px;margin-top:20px;">

	  <div class="row">
	  	<br /><br /><br /><br />
	  	<div class="col-md-8" style="background-image:url('/login.jpg');overflow:hidden;background-repeat:no-repeat;height:600px;">&nbsp;
      	</div>
	    <div class="col-md-4">
        <h3 style="color:#fff;margin-bottom:20px;">Edit User</h3>
	      <form id="frmEditMovie" role="form">
	        <div class="form-group" style="color:white">
	          <label for="inputName">UserName</label>
	          <input type="text" class="form-control" id="inputName" value="<%= data.username %>" disabled/>
	        </div>

	        <div class="form-group" style="color:white">
	          <label for="inputEmail">Email</label>
	          <input type="text" class="form-control" id="inputEmail" value="<%= data.email%>"/>
	          <input type="text" class="form-control hidden" id="inputPwd" value="<%= data.password%>"/>
	        </div>

	        <div class="form-group text-right">
	          <button id="btnEdit" type="button" uid="<%= data._id%>" class="btn btn-danger">Submit</button>
	        </div>
	      </form>
	    </div>

	  </div>

	</div>

</body>
	<% include ../partials/footer.ejs %>
</html>
<script type="text/javascript">
;jQuery(function ($) {
	$('#btnEdit').on('click', function () {
		var data = {
			id: $(this).attr('uid'),
			username: $('#inputName').val(),
			email: $('#inputEmail').val(),
			password : $('#inputPwd').val()
		};

		$.post('/editUser', data, function (ret) {
			if (ret.result == true) {
				alert(ret.msg);
				window.location.href = '/admin';
			} else {
				alert('update failure');
			}
		});
	})
})
</script>