
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

<body>
<head>
  <% include ../partials/nav %>
</head>

<div class="container">
  <div class="row container-fluid">
    <% include ../partials/carousel.ejs %>
  </div>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Movie Market</h1>
    <p><h2>Drama, action, comedy, documentaries, TV shows — all the stuff you love to watch, personalized for you.</h2></p>
    <p><h2>New movies and TV shows coming all the time.</h2></p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join us free</a>
  </div>



</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"><\/script>')</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>
