
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

<body>
<head>
  <% include ../partials/nav %>
</head>

<div class="row container-fluid">
  <% include ../partials/carousel.ejs %>
</div>

  

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron text-center" style="background-color:#333;margin-bottom:0px;">
  <h1>Movie Market</h1>
  <p><h2>Drama, action, comedy, documentaries, TV shows — all the stuff you love to watch, personalized for you.</h2></p>
  <p><h2>New movies and TV shows coming all the time.</h2></p>
  <a class="btn btn-lg btn-primary" href="../../register" role="button">Join us free</a>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>
