<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<div class="container" style="height:800px;">
  <h3>
    <blockquote><strong>Movies</strong></blockquote>
  </h3>
  <div id="userId" class="hidden" uid="<%= MemberInfo._id%>"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <div class="text-center">
          <img src="<%= data.image %>" style="height:250px;width:540px;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
        <div class="list-group-item" style="color:#d5eeff;background-color:#333;">
          <h5 class="list-group-item-heading"><b>Title</b></h5>
          <p class="list-group-item-text"><%= data.title %></p>
        </div>
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><b>Director</b></h5>
          <p class="list-group-item-text"><%= data.director %></p>
        </div>
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><b>Price</b></h5>
          <p class="list-group-item-text">$ <%= data.price %></p>
        </div>
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><b>Buy it!</b></h5>
          <p class="list-group-item-text">
            <button id="addToCart" mid="<%= data._id %>" class="btn btn-primary" role="button">add to cart 
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  
</body>
<% include ../partials/footer.ejs %>
</html>

<script type="text/javascript">
;jQuery(function ($) {
  $('#addToCart').on('click', function () {

  var mid = $(this).attr('mid');
  var data = { 
    'movieId' : mid
  };
  var uid = $('#userId').attr('uid');
  if (uid === undefined) {
    window.location.href = '/login';
  } else {
    $.post('/addToCart', data, function(ret){
      if(ret.result == true) { 
        alert('added to cart');
      }
      else{
        alert('add failure');
      }
    });
  }
  });
})
</script>