<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>

	<div class="container">
		<div class="row col-lg-8 col-md-12 col-lg-offset-2">
      <div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="text-center"><strong>Order summary</strong></h3>
              </div>
              <div class="panel-body">
              <% if(typeof(data) != 'undefined') { %>
              	<% for(var i = 0; i < data.length; i++) { %>
                  <div class="table-responsive">
                      <table class="table table-condensed">
                          <thead>
                              <tr>
                                  <td><strong>Movie Title</strong></td>
                                  <td class="text-center"><strong>Total Price</strong></td>
                              </tr>
                          </thead>
                          <% if(typeof(data) != 'undefined') { %>
                          <tbody>
                          	<% for(var j = 0; j < data[i].movieId.length; j++) { %>
                            <tr>
                                <% for(var k = 0; k < MovieInfo.length; k++) {%>
                                <% if(MovieInfo[k]._id == data[i].movieId[j]) {%>
                                <td>
                                  <%= MovieInfo[k].title %>
                                </td>
                                <% }} %>
                                <td class="text-center"></td>
                            </tr>
                            <% } %>
                            <tr>
                                <td class="emptyrow text-right"><strong>Total</strong></td>
                                <td class="emptyrow text-center">$<%= data[i].totalAmount%></td>
                            </tr>
                            
                          </tbody>
                          <% } %>
                      </table>
                  </div>
                <% } %>
              <% } %>
              </div>
          </div>
      </div>
		</div>
	</div>
</body>
<% include ../partials/footer.ejs %>
</html>