<!-- views/partials/footer.ejs -->
<footer class="bs-footer" role="contentinfo">
    <div class="container">
        <div class="bs-social">
            <ul class="bs-social-buttons">
                <li class="facebook-button">
                    <div id="fb-root"></div>
                    <div id="js-facebook-share" class="fb-like" data-href="http://bootsnipp.com" data-width="130" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
                <li class="follow-btn">
                    <a id="js-twitter-follow" href="https://twitter.com/bootsnipp" class="twitter-follow-button" data-show-count="false">Follow @bootsnipp</a>
                </li>
                <li class="tweet-btn">
                    <a id="js-twitter-tweet" href="https://twitter.com/share" class="twitter-share-button" data-url="http://bootsnipp.com" data-text="RT Design elements and code snippets for #twbootstrap HTML/CSS/JS framework" data-via="bootsnipp" data-related="bootsnipp">Tweet</a>
                </li>
            </ul>
        </div>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015-2016 CMPE281 Group Project, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</footer>