<!-- views/partials/productlist.ejs -->
<!-- productlist
 ================================================== -->
<% for(var i=0; i< movies.length; i++) { %>
    <% if (i % 3 ==  0) { %>
    <div class="row">
    <% } %>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src=<%= "./images/"+movies[i].image %> alt="...">
                <div class="caption">
                    <h3><%= movies[i].title %></h3>
                    <p>Director: <%= movies[i].director %></p>
                    <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> </p>
                </div>
            </div>
        </div>
    <% if ((i+1) % 3 ==  0) { %>
    </div>
    <% } %>
<% } %>
<!--/.productlist-->
